.status-event{
	display: flex;	
	flex-direction: row;
	justify-content: space-between;
}

.status-event button{
	padding: 10px ;
	width: 149px;
}

.admin{
	display: flex;
	align-items: center;
	padding : 20px 0;
	border-bottom: 2px solid #F7F7F7;
}

.admin div{
	display: flex;
	align-items: center;
}

.admin div img{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 15px;
}

.admin div p{
	color: #14213D;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 14px;
}
.admin span{
	color: #B6B9BF;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 12px;
}